body {
    width: 960px;
    background-image: linear-gradient(to bottom right, rgba(255, 182, 192, 0.6), rgba(173, 216, 230, 0.6));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    height: 60px;
    padding: 25px;
    border-bottom: #565656 solid 3px;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a {
    font-size: 30px;
    color: #565656;
    padding: 10px 30px;
}

a:hover {
    background-color: #565656;
    color: #ECDCE3;
}